@{
    ViewBag.Title = "Credit card Top up Options";
    Layout = "~/Views/Shared/bm_Layout_Care.cshtml";
}

<div class="mid_margin">
<h2>Top Up your Account using Credit Card</h2>
<div class="lef-pan">
    <h2>Coming Soon...</h2>
    </div>
    @Html.Partial("RightNav_PartialView")
    </div>
