@{
    ViewBag.Title = "Voucher_Failed";
    Layout = "~/Views/Shared/bm_Layout_Care.cshtml";
}

<div class="mid_margin">
    <div class="choose_box remov_padd wrapper" style="padding: 10px;"> 
<div style="margin:50px auto;">
    <div class="alert-message warning" >
        <div class="box-icon"></div>
        <p>Your Account has been locked!</p>
    </div>
</div>
    </div>
    </div>
