@{
    ViewBag.Title = "Terms & Conditions";
    Layout = "~/Views/Shared/bm_Layout_Care.cshtml";
}


<div class="mid_margin">
    <h2>TERMS & CONDITIONS OF USE</h2>
    <p>
        By entering the bmobile Website, you acknowledge that you have read, understood and agreed with the following terms and conditions of use. Bemobile Limited ("bmobile") reserves the right to modify these terms and conditions as and when necessary. 
    </p>
    <ul style="list-style:disc;">
        <li>All documents, visuals, animations, and graphics contained in the “bmobile Website are the property of bmobile.</li>
        <li>The bmobile Website is protected by copyright. You may print out documents or pages for your individual/ company use, but no unauthorised distribution or making available to the public (whether in print or electronic form) of any data contained within this Website is permitted without prior written consent from bmobile.</li>
        <li>The right to edit or delete any documents, information or other content appearing on the Website is at the discretion of bmobile. </li>
        <li>The bmobile Website may contain links to other websites. bmobile is not responsible for the content, accuracy or opinions expressed in such websites, and such websites are not investigated, monitored or checked for accuracy or completeness by bmobile. Inclusion of any linked website on bmobile Website does not imply approval or endorsement of the linked website. If you decide to leave the bmobile Website and access third party sites, you do so at your own risk.</li>
        <li>You may not create a hypertext link to any page on this Website without bmobile's prior consent. The creation of the hypertext link without bmobile's approval is a breach of its intellectual property rights and actionable by bmobile. If you create a link to this Website, you remain fully responsible for any consequences of that link, whether direct or indirect and you will be liable to bmobile for all loss, damage, liability, costs or expense incurred by bmobile arising from the link.</li>
    </ul>
    <h2>Content</h2>
    <p>While we endeavour to supply accurate information on this site, errors and omissions may occur. Bmobile does not accept any liability, direct or indirect, for any loss or damage which may directly or indirectly result from any advice, opinion, information, representation or omission whether negligent or otherwise, contained on this site. You are solely responsible for the actions you take in reliance on the content on, or accessed, through this site.</p>

    <p>Bmobile reserves the right to make changes to the content on this site and these terms and conditions at any time and without notice.</p>

    <h2>Membership Information</h2>
    <p>Accurate, complete and up-to-date information must be provided when registering as a member on the bmobile website.  It is also your responsibility to maintain any changes; you may do this by updating your profile in the self-care portal (<a href="http://selfcare.bmobile.com.sb/Care/Login">http://selfcare.bmobile.com.sb/Care/Login</a>).  All personal information you provide us will be treated in accordance with our privacy policy.</p>
    <p>If you are under the age of 18 you must obtain parental consent prior to using the Website.  If you are acting on behalf of a company you must be authorised to enter into these Terms on behalf of your employer.</p>
    <h2>Login Credentials</h2>
    <p>Once you register your details for membership, you will receive a username and password.  You will be responsible for all transactions that occur under your login including unauthorised use of any credit cards.  It is your responsibility to notify bmobile immediately if you become aware of any unauthorised use of your login.  You are encouraged to change your password regularly using the change password option in the self-care portal. </p>
    <h2>Purchasing Services Online</h2>
    <p>Using your login credentials you can purchase online credit Top-Ups for a limited number or value over a specific period.  The system will notify you of these limitations, pay your bmobile invoice and buy power.</p>
    <p>You will ensure that correct and accurate information is provided for the relevant transaction – for example the mobile number to apply Top-Up credit. </p>
    <p>The Top-Up is sent instantly to the requested mobile number upon payment by you. Once the Top-Up is sent to a mobile number, it can be used immediately therefore it cannot be refunded or removed from the phone. To stop this mistake from happening, we ask you to always reconfirm that the mobile number you have entered is correct.</p>
    <p>You shall confirm any Top-Up information received by you, or any other information provided by us to you through the Website from time to time and shall report any errors or omissions to us in writing within 30 days from the date of transaction with relevant documentation such as statements or receipts.</p>
    <p>If you encounter an unlikely situation where you were not able to receive the goods you had purchased, please contact our Customer Care on email<a href="mailto:">customercare@bmobile.com.sb</a> to resolve this issue.</p>

    <h2>Payment options</h2>
    Payment is accepted with the following credit cards:
    <ul>
        <li>Visa</li>
        <li>MasterCard</li>
    </ul>


    <h2>Pricing</h2>

    <p>All prices listed on the bmobile website are in Papua New Guinea Kina (PGK) and are inclusive of GST. While we endeavour to ensure that all prices are correct when published, we reserve the right to amend the prices where an error has occurred. </p>

    <h2>Website and Credit Card Security</h2>

    <p>We want you to have a safe and secure shopping experience online. All payments via our website are processed via the secure DOKU payment gateway which secures your credit card information.  DOKU is a certified PCI DSS (Payment Card Industry Data Security Standards) level I compliant payment gateway provider. DOKU also pre-integrates the 3D Secure authentication known as Verified by Visa and MasterCard Secure Code.  Customers with 3D Secure activated on their credit card are re-directed to authenticate the purchase with a PIN or password.</p>
    <h2>Intellectual Property</h2>

    <p>bmobile owns all copyright and other intellectual property in this site. Everything on this site, unless otherwise stated, is copyright.</p>

    <p>bmobile welcomes the use of this site for personal use, non-commercial use, research or study - provided that the user acknowledges all copyright and other notices contained in the content.</p>

    <p>We advise that you may not copy or display for redistribution to third parties or for commercial purposes, any portion of this site without the express permission of bmobile.</p>

    <h2>Links</h2>

    <p>Please note that although this site has some hyperlinks to other third party websites, these sites have not been prepared by bmobile and are not under the control of bmobile. The links are only provided as a convenience, and do not imply that bmobile endorses, checks, or approves of the third party site. bmobile is not responsible for the privacy principles or content of these third party sites. bmobile is not responsible for the availability of any of these links.</p>

    <h2>Jurisdiction</h2>

    <p>This website is governed by, and is to be interpreted in accordance with, the laws of Papua New Guinea.</p>
    <h2>Privacy</h2>

    <p>Your privacy is important to us and we will take all reasonable steps to ensure that information held is secure. </p>

</div>
