@{

    Layout = "~/Views/Shared/_cms_Layout.cshtml";

    if (ViewBag.msg != null)
    {
        ViewBag.Title = ViewBag.msg;
    }
}

<div class="abt-main">
    @if (ViewBag.msg == "cancelled")
    {
        @*<div style="@ViewBag.dFail">*@
        <h2>Sorry,</h2>
        <div style="font-size: 25px;">
            <img src="~/images/Close-2-icon.png" style="max-height:25px;" />&nbsp;
            Your Transaction has Cancelled!
        </div>
        <div style="margin-top: 10px; font-size: 15px; padding-left: 70px; margin-bottom: 10px;">
            <div>Please Contact Customer Care: 1555 </div>
            <div><span>Click&nbsp;@Html.ActionLink("here", "RefreshACC", "Care")&nbsp;to go to Account Summary</span></div>
        </div>
            @*</div>*@
    }
    else if (ViewBag.msg == "failed")
    {
        @*<div style="@ViewBag.dFail">*@
        <h2>Sorry,</h2>
        <div style="font-size: 25px;">
            <img src="~/images/Close-2-icon.png" style="max-height:25px;" />&nbsp;
            Your Transaction has Failed!
        </div>
        <div style="margin-top: 10px; font-size: 15px; padding-left: 70px; margin-bottom: 10px;">
            <div>Please Contact Customer Care: 1555 </div>
            <div><span>Click&nbsp;@Html.ActionLink("here", "RefreshACC", "Care")&nbsp;to go to Account Summary</span></div>
        </div>
            @*</div>*@
    }
    else if (ViewBag.msg == "error")
    {
        <h2>Sorry,</h2>
        <div style="font-size: 25px;">
            <img src="~/images/Close-2-icon.png" style="max-height:25px;" />&nbsp;
            Some Technical issues occurred while processing...
        </div>
        <div style="margin-top: 10px; font-size: 15px; padding-left: 70px; margin-bottom: 10px;">
            <div>Please contact administrator </div>
            <div><span>Click&nbsp;@Html.ActionLink("here", "RefreshACC", "Care")&nbsp;to go to Account Summary</span></div>
        </div>
    }
    else
    {
        <h2>Sorry,</h2>
        <div style="font-size: 25px;">
            <img src="~/images/Close-2-icon.png" style="max-height:25px;" />&nbsp;
            Some Technical issues occurred while processing...
        </div>
        <div style="margin-top: 10px; font-size: 15px; padding-left: 70px; margin-bottom: 10px;">
            <div>Please contact administrator </div>
            <div><span>Click&nbsp;@Html.ActionLink("here", "RefreshACC", "Care")&nbsp;to go to Account Summary</span></div>
        </div>
    }

    <div class="abt-main"></div>
    <div class="abt-main"></div>


</div>