@{
    ViewBag.Title = "CUG";
    Layout = "~/Views/Shared/bm_Layout.cshtml";
}

<div class="middle">
							<div class="mid_content">
              		<div class="cont_title">CUG</div>
                  <div class="txt">
		                <div class="txt_sep">With <span>be</span>mobile CUG you can now make and receive unlimited calls and SMS from members within a group for minimal monthly fee. The group can be a company, organization, family members or a group of friends.</div>
										<div class="txt_sep">CUG is available to both <span>be</span>mobile Prepaid and Postpaid customers. A minimum of 2 connections are required to be registered under the same billing account and there are no maximum limitations.</div>
                    <div class="txt_sep">For more information, call the bmobile Customer Care on 1555 or email <span class="link">support@bemobile.com.sb</span></div>
                   </div>
              </div>            
          </div>