@{
    ViewBag.Title = "Postpaid";
    Layout = "~/Views/Shared/bm_Layout.cshtml";
}

 <!--box start-->
          <div class="middle">
							<div class="mid_content">
              		<div class="cont_title">Postpaid</div>
                  <div class="txt">Postpaid is a service where you are billed according to your usage of <span>Bemobile</span> services at the end of each month.For more information call Customer Care on <span>1555</span> or email <span class="link">postpaid@bmobile.com.pg</span></div>
              </div>            
          </div>  	
