@{
    ViewBag.Title = "Prepaid";
    Layout = "~/Views/Shared/bm_Layout.cshtml";
}

<!--box start-->
          <div class="middle">
							<div class="mid_content">
              		<div class="cont_title">Prepaid</div>
                  	<div class="txt">
		                  <div class="tbl_title">Bmobile To Bmobile</div>
                    </div>
              </div>            
          </div>