@{
    ViewBag.Title = "SMSBanking";
    Layout = "~/Views/Shared/bm_Layout.cshtml";
}

<div class="middle">
							<div class="mid_content">
              		<div class="cont_title">SMS Banking</div>
                  <div class="txt">
                    <div class="txt_sep">BMobile offers you a quick and easy way to do your banking with Bank South Pacific (BSP).Checking your balance and transferring funds between nominated accounts couldn’t be any more convenient. It’s banking on the run so no more queues for you!</div>
  
                    <div class="txt_sep">SMS banking is a technology-enabled service offering from banks to their customers, permitting them to operate selected banking services over their mobile phones using SMS messaging. These include services such as bank balance checks and funds transfer.</div>
  
                    <div class="txt_sep">To qualify to use the SMS banking service, you must have an existing account with BSP and you must also register with the BSP SMS Banking service. Application forms can be picked up from any BSP branch nationwide.</div>
  
                    <div class="txt_sep">Currently, BSP SMS banking via BMobile offers <span>Balance Check-</span> checking your BSP account balance and <span>Funds Transfer-</span>transferring money in between nominated BSP accounts.</div>
  
                    <div class="txt_sep">For more information on SMS Banking go to the <span>FAQ’s</span> page.</div>
								</div>
              </div> </div> 