@{
    ViewBag.Title = "WebBrowsing";
    Layout = "~/Views/Shared/bm_Layout.cshtml";
}

<div class="middle">
							<div class="mid_content">
              		<div class="cont_title">Web Browsing</div>
                  <div class="txt">
		                <div class="txt_sep">Want to access the web via your <span>BM</span>obile handset? Just call Customer Care on 1555 and ask for assistance. You’ll have access to the web in no time.</div>
										<div class="txt_sep">Don’t forget you’ll need an internet enabled and configured handset to enjoy access to the web.</div>
                   </div>
              </div>            
          </div>