@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/bm_Layout.cshtml";
}
     
        
        <!--box start-->
        <div class="middle">
          <div class="box">
            <div class="sub_box">
              <div class="title">Family and Friends Network</div>
              <div class="box_img"><img src="@Url.Content("~/images/box_img1.png")" alt="" title="" /></div>
              <div class="box_txt">At vero eos et accusamus et iusto odio dignissimos ducimus qui</div>
              <div class="butt"><a href="">more</a></div>
            </div>
            
            <div class="sub_box">
              <div class="title">Promotions</div>
              <div class="box_img mar_set"><img src="@Url.Content("~/images/box_img2.png")" alt="" title="" /></div>
              <div class="box_txt">At vero eos et accusamus et iusto odio dignissimos ducimus qui</div>
              <div class="butt"><a href="">more</a></div>
            </div>
      
            <div class="sub_box last">
              <div class="title">What’s New</div>
              <div class="box_img mar_set"><img src="@Url.Content("~/images/box_img3.png")" alt="" title="" /></div>
              <div class="box_txt">At vero eos et accusamus et iusto odio dignissimos ducimus qui</div>
              <div class="butt"><a href="">more</a></div>
            </div>
          </div>
        </div>
      
        <!--content start-->
        <div class="content">
          <div class="larg_txt">
            Our company is a leading international provider of the BEST COMMUNICATIONS SERVICES.
          </div>
          
          <div class="smal_txt">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentiumvoluptatum deleniti atque corrupti quos dolores et quas
      molestias excepturi sint occaecati cupiditate. non prdent. similique sunt in culpaqui officia deserunt mollitia animi
      id est laborum et dolorum fuga. Et harum quidem rerum facilis est.
          </div>
        </div>
			