
<div class="footer">   
    <div class="ftr-lst">
        <div class="margin">
            <div class="ftr-lst-lt"> &copy; @DateTime.Now.Year.ToString() Bmobile Solomon Islands.</div>
            @*<div class="ftr-lst-rgt"> <a href="#"> Privacy Policy </a> &nbsp; | &nbsp; <a href="#"> Legal </a> </div>*@
        </div>
    </div>
</div>
