<div class="creditme_popup">
    <div id="popup_box">
        <div class="div-br">
        </div>
        <div class="div-tr">
            <div class="div-td1">
                <span>Transfer To&nbsp;:</span>
            </div>
            <div class="div-td2">
                <span style="color: black;">677</span>&nbsp;
            <input type="text" id="txtMSDNNo" name="msidnno" maxlength="11" style="width: 170px;" />
                <div><span id="spanMSDNNo" style="color: red;"></span></div>
            </div>
        </div>
        <div class="div-tr">
            <div class="div-td1">
                <span>Amount&nbsp;:</span>
            </div>
            <div class="div-td2">
                <input type="text" id="txtAmt" name="amount" maxlength="25" />
                <div><span id="spanAmt" style="color: red;"></span></div>
            </div>
        </div>
        <div class="div-br">
        </div>
        <div class="div-tr">
            <div class="div-td1">
                &nbsp;
            </div>
            <div class="div-td2">
                <div>
                    <input type="button" id="btnCreditMe" value="Transfer" class="btn" />&nbsp;
                    <input type="button" id="btnCloseCreditMe" value="Cancel Transfer" class="btn" />
                </div>
                <div id="divProcess" class="dRowvsmlbl" style="display: none;">
                    <img src="~/Content/themes/base/images/loading.gif" />please wait...
                </div>
            </div>
        </div>
        <div class="div-br">
        </div>
    </div>
    <div id="Conf_box" style="display:none;">Would you like to transfer</div>
    <div style="clear:both;"></div>

</div>
