<h4><b>Top Up through Internet Banking</b></h4>
<p>Top Up through Internet Banking is a new, easy and secure way to buy bmobile-Vodafone Prepaid Top Ups online. It lets you access your bank account directly so you can pay with your money. Perfect if you don't have a credit or debit card, or don't have time to go into a store to buy a Top Up — now you can do it online.</p>
<h4><b>Log in directly through your bank account!</b></h4>
<p>Our secure portal is a short cut straight to your internet bank account. Just log in, choose a Top Up amount and the money will come straight out of your selected account — your personal information is never stored or shared by bmobile-Vodafone. </p>
<p>You will know you are logged into your account because it shows your bank account's balance on screen when buying a Top Up.</p>
<b>Here's how to use Top Up through Internet Banking</b>
<ul>
    <li>Select your Prepaid mobile number to Top Up</li>
    <li>Choose Payment Type ‘Internet Banking’</li>
    <li>Click ‘Pay’ button</li>
    <li>Choose your bank</li>
    <li>Select Account Type (Personal or Business)</li>
    <li>By Clicking on ‘Pay with Internet Banking’ you acknowledge that you agree to be bound by the Terms and Conditions</li>
    <li>Enter the log in details you use to access your internet banking account and click 'Login'</li>
    <li>Confirm payment information and click ‘Continue’</li>
    <li>Continue with your usual internet banking transfer to 3rd party process and finish</li>
</ul>
<b>Banks you can currently use to 'Top Up through Internet Banking':</b><br />
<ul>
    <li>Bank South Pacific (BSP)</li>
</ul>

<b>Note: Currently this service is only available to Bank South Pacific (BSP) Internet Banking Customers.</b>