<h4><b>New to PNG!!</b> Top Up and pay using your Internet Banking</h4><br />

<p>You can now Top Up and pay using your Internet Banking.This form of payment is new to PNG but common in most parts of the world.</p>
<br />

<p><a id="promoIB" href="#" style="text-decoration:underline;color:#3276B1;" title="Click here" >What is Internet Banking?</a></p>
<p><a href="http://selfcare.bmobile.com.sb/Care/Topup" style="text-decoration:underline;color:#3276B1;" title="Click here">Try Top Up using Internet Banking</a></p>
