<div class="footer">
  <div class="footer_bg">
    <div class="footer_margin">
   <div class="footer_top">
                <div class="footer_menu_top">
                    <div class="footer_menu">
                        <h1>Our company </h1>
                        <ul>
                            <li><a href="http://www.bmobile.com.sb/Home/about">About bmobile</a></li>
                            <li><a href="http://www.bmobile.com.sb/Home/why_bmobile">Why Choose bmobile</a></li>
                            <li><a href="http://www.bmobile.com.sb/Home/board_of_directors">Board of Directors</a></li>
                            <li><a href="http://www.bmobile.com.sb/Home/senior_management">Senior Management</a></li>
                            <li><a href="http://www.bmobile.com.sb/Home/careers">Careers</a></li>
                            <li><a href="http://www.bmobile.com.sb/Home/tenders">Tenders</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="footer_menu_next">
                    <div class="footer_menu">
                        <div class="footer_menu">
                            <h1>Useful Links</h1>
                            <ul>
                                 <li><a href="http://www.bmobile.com.sb/Home/get_on_web">Get on the Web</a></li>
                                    <li><a href="http://www.bmobile.com.sb/Home/network_coverage">Network Coverage</a></li>
                                    <li><a href="http://www.bmobile.com.sb/Home/store_locations">Store Locations</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer_menu_top">
                    <div class="footer_menu">
                        <div class="footer_menu">
                            <h1>Help Me</h1>
                            <ul>
                                <li><a href="http://www.bmobile.com.sb/Home/faq">FAQs</a></li>
                                <li><a href="http://www.bmobile.com.sb/Home/contactus">Contact Us</a></li>
                                    <li><a href="http://www.bmobile.com.sb/Home/sitemap">Sitemap</a></li>
                                <li><a href="http://www.bmobile.com.sb/Home/TermsConditions" target="_blank">Terms & Conditions</a></li>
                            <li><a href="http://www.bmobile.com.sb/Home/ReturnsRefunds" target="_blank">Returns & Refunds</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>