<div class="top_bg">		
   <div class="margin">
        <!--header part-->
        <div class="head">
          <div class="head_left">
            <div class="logo"><a href="http://www.bmobile.com.sb/"><img src="@Url.Content("~/images/logo.png")" alt="bmobile" title="bmobile" border="0" /></a></div>
          </div>
            @*<div class="head_login_cart">
                @{Html.RenderAction("_CartSummaryPartial", "Shop");}
              <div id="login">@Html.Partial("_LoginPartial")</div>
            </div> *@
          <div class="head_right">
            @*<div class="search">
            	<div class="search_bg">
              	<div class="search_input"><input type="text" name="search" id="search" /></div>
              	<div class="search_txt"><a href="#">search</a></div>
              </div>
            </div>*@
            
            <div class="top_up">
            	<div class="top_up_img"><a href="/Care/Topup"><img src="@Url.Content("~/images/topup_img.png")" alt="Top up" title="Top up" border="0" /></a></div>
	            <div class="myacc"><a href="/Care/Prepaid">My Account</a></div>
                
            </div>
          </div>
        </div>
		</div>
</div>