@using bemobile;

<div class="DivRight">
     <div>
        <div class="dNavTitle">User Profile</div>   
         <div class="dSubNav">@Html.MenuLink("Postpaid Bill", "Postpaid","Care")</div>
        <div class="dSubNav">@Html.MenuLink("Update Profile", "EditPro","Care")</div>
        <div class="dSubNav">@Html.MenuLink("Change Password", "ResetPassword","Care")</div>
    </div>
    
    <div>
       
        <div class="dSubNav">@Html.ActionLink("Logout", "Logout")</div>

    </div>
</div>
