<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="web.optimization" type="Web.Optimization.Configuration.OptimizationSection" />
  </configSections>
  <connectionStrings>
    <add name="bmtestshopDBEntities" connectionString="Data Source=WIN-QS0TH0G9CSG;Initial Catalog=SIBMobShop_16022017;persist security info=True;User id=sa;password=P@55w@rd;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="bemobileselfcareEntities" connectionString="metadata=res://*/Models.selfcare.csdl|res://*/Models.selfcare.ssdl|res://*/Models.selfcare.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=twinkleserver.local;user id=root;password=twinkleserver;persistsecurityinfo=True;database=selfcare2017may04;&quot;" providerName="System.Data.EntityClient" />
  
 <!-- <add name="bemobileselfcareEntities" connectionString="metadata=res://*/Models.selfcare.csdl|res://*/Models.selfcare.ssdl|res://*/Models.selfcare.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=twinkleserver.local;user id=root;password=twinkleserver;persistsecurityinfo=True;database=selfcare2017may04;&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="dk_ProcessURL" value="http://testpayment.bmobile.com.sb/Doku/ProcessDoku" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="encKey" value="uSr4fEVO69m5rSty" />
    <add key="From" value="noreply@twinkletech.com" />
    <add key="error_log_path" value="D:\hg_Projects\si_bmselfcaremvc\www\si_bmobile\ErrorLog\" />
    <add key="upload_file_path" value="D:\hg_Projects\Portal_Mvc\portal_mvc\Property\Uploads\" />
    <add key="EmailFrom" value="noreply@twinkletech.com" />
    <add key="EmailCCTo" value="" />
    <add key="EmailBCCTo" value="" />
    <add key="Smtp_Client" value="relay.dnsexit.com" />
    <add key="UName" value="twinkle" />
    <add key="Password" value="twinkle2010" />
    <add key="Smtp_Port" value="587" />
   <!-- <add key="EmailTempPath" value="D:\hg_Projects\test_bmobile_mvc\bemobile\EmailTemplate\" /> -->
    <add key="EmailTempPath" value="D:\hg_Projects\si_bmselfcaremvc\www\si_bmobile\EmailTemplate\"/>
    <add key="FolderPath" value="D:\hg_Projects\test_bmobile_mvc\bemobile\" />
    <add key="3des_encKey" value="PQRSTUVWXABCDEFGHIJKLMNL" />
    <add key="3des_iv" value="12345678" />
    <add key="bugEmailTo" value="raghu@twinkletech.com,ramesh@twinkletech.com" />
    <add key="pgSize" value="10" />
    <add key="pgRptSize" value="300" />
    <add key="fpathpdf" value="D:\hg_Projects\bemobiles_mvc\PDFbills\" />
    <add key="fixedplanIds" value="1,6,11" />
    <add key="ToShopCC" value="finance.warehouse@bmobile.com.sb,ipg_reports@bmobile.com.sb" />
    <!--For Ezytrans Starts-->
    <add key="payment_serverURL" value="http://localhost:63723/trans/bankselection" />
    <add key="returnURL" value="http://192.168.1.17:84/Shop/OrderSummary" />
    <add key="cancelURL" value="http://192.168.1.17:84/Care/Topup" />
    <add key="logoURL" value="http://localhost:63728/images/upnglogo.jpg" />
    <add key="merchant" value="bspuser" />
    <add key="user_key" value="bspuserdev" />
    <add key="keycode" value="bsp123" />
    <add key="secure_secret" value="9" />
    <!-- <add key="mkpaymentURL" value="http://peiezy.com/Trans/ezytransPayment" />-->
    <add key="mkpaymentURL" value="http://localhost:63723/Trans/ezytransPayment" />
    <!--For Ezytrans Ends-->

   
    <!-- For PeiEzy Merchant starts -->
    <add key="pei_merchantid" value="110" />
    <add key="pei_username" value="bmdoku" />
    <add key="pei_plain_pwd" value="bmdoku" />
    <add key="pei_encry_pwd" value="*D46C35EFDDA4DE9D4D48695D8A59B01DF0B0F2BD" />
    <add key="pei_keycode" value="67543" />
    <add key="pei_enc_key" value="dzNhdGgzNlBORw==" />
    <!-- PeiEzy Merchant ends -->
    <!-- For Doku CC starts -->
    <add key="dk_MALLID" value="1913" />
    <add key="dk_chainMerchant" value="NA" />
    <add key="dk_Shared_key" value="oNw12BnbXI64" />
    <add key="dk_Form_Action" value="http://103.10.129.17/Suite/Receive" />
    <add key="dk_Currency" value="598" />
    <add key="dk_paymentChannel" value="15" />
    <add key="dk_PurchaseCurrency" value="598" />
    <add key="cug_ReturnURL" value="http://cug.bmobile.com.sb/Master/OrderSummary" />
    <add key="dk_SICurrency" value="090" />
    <add key="dk_SIPurchaseCurrency" value="090" />
    <add key="SI_ReturnURL" value="http://testselfcare.bmobile.com.sb/care/OrderSummary" />
    <!--Doku CC ends-->
    <!-- For Staff Topup Merchant starts -->
    <add key="sf_merchantid" value="113" />
    <add key="sf_username" value="bmstaff" />
    <add key="sf_plain_pwd" value="bmcug" />
    <add key="sf_encry_pwd" value="*8B0BAE681025B1CC11B31D6D06BA2D6D2892BDBF" />
    <add key="sf_keycode" value="8765" />
    <add key="sf_enc_key" value="dzNhdGgzNlBORw==" />
    <!-- Staff Topup  Merchant ends -->
    <!-- For Doku Merchant starts -->
    <add key="dk_merchantid" value="110" />
    <add key="dk_username" value="bmdoku" />
    <add key="dk_plain_pwd" value="bmdoku" />
    <add key="dk_encry_pwd" value="*D46C35EFDDA4DE9D4D48695D8A59B01DF0B0F2BD" />
    <add key="dk_keycode" value="67543" />
    <add key="dk_enc_key" value="dzNhdGgzNlBORw==" />
    <!-- Doku Merchant ends -->
    <!-- For GMAIL -->
    <add key="Smtpg_Server" value="smtp.gmail.com" />
    <add key="Smtpg_Mail" value="bemobile2014@gmail.com" />
    <add key="Smtpg_Pwd" value="beM0b!le@" />
    <!--ALLOW TOPUP-->
    <add key="topupnumbers" value="67576542265,67576404912,67576535780,6778922235" />
    <add key="tpMode" value="true" />
    <add key="tpOpenAll" value="false" />
    <!--TOP UP AMOUNTS-->
    <add key="TPAmounts" value="10,20,50,80,100,150,200" />
    <add key="TPOthers" value="10,20,50" />
    <add key="Shop_SIMBuy" value="10,20,30" />
    <add key="bspPercentage" value="4.9" />
    <!-- Buy Power Access-->
    <add key="gp_svc_uid" value="Tw!nk13" />
    <add key="gp_svc_pwd" value="31kn!wT" />
    <add key="gp_java_uid" value="gp@selfcare" />
    <add key="gp_java_pwd" value="gpsc@123" />
    <add key="gp_merc_id" value="114" />
    <add key="gp_merc_uname" value="getpower" />
    <add key="gp_merc_pwd" value="getpower" />
    <add key="gp_merc_keycode" value="1234" />
    <add key="sms_merc_keycode" value="6754" />
    <!--Return bmTopup OrderSummary -->
    <add key="bmTopup_ReturnURL" value="http://localhost:54199/Home/OrderSummary" />
    <!--For PNG rechargeAPI -->
    <add key="png_merch_id" value="115" />
    <add key="png_uname" value="bmtopup" />
    <add key="png_pwd" value="bmtopup" />
    <add key="png_keycode" value="9632" />
    <!--For SI rechargeAPI -->
    <add key="si_merch_id" value="115" />
    <add key="si_uname" value="bmtopup" />
    <add key="si_pwd" value="bmtopup" />
    <add key="si_keycode" value="9632" />
    <add key="0.5,0.1,0.115" />
    <add key="gp_minlimit" value="15" />
    <add key="gp_maxlimit" value="500" />

    <!--kyc LT Ref-->
    <add key="idNumber" value="DUMMY" />
    <add key="idType" value="DL" />
    <add key="countryCode" value="PNG" />
    <add key="Mtitle" value="MR" />
    <add key="Ftitle" value="MS" />

    <!--Top Kad-->
    <add key="kad_merch_id" value="120" />
    <add key="kad_uname" value="topkad" />
    <add key="kad_pwd" value="topkad" />
    <add key="kad_Keycode" value="78763" />
    <add key="kad_bal_limit" value="500" />

    <add key="device_setting_url" value="http://202.52.133.125/knowmax_bmobileSI/Login.aspx?MobileNo=" />

    <!--MSISDN Validations-->
    <add key="msisdn_prefix1" value="84,87,75,89" />
    <add key="msisdn_prefix2" value="2015" />
    <add key="msisdn_min_len" value="6" />
    <add key="msisdn_max_len" value="15" />

    <!--Remember me-->
    <add key="Days_remember_me" value="60" />
    
    <add key="svc_uid" value="Tw!nk13" />
    <add key="svc_pwd" value="31kn!wT" />

    <!--Change Type-->

    <add key="changetyp1" value="Data Bundle" />
    <add key="changetyp2" value="Voice+SMS+Data Bundle" />
    <add key="changetyp3" value="International Calls" />
    <add key="changetyp4" value="Roaming Plan"/>

    <!--For zip process1-->
    <add key="ftp_folder_fname" value="temp_target_files\" />
    <add key="download_path" value="E:\Data\destination_backup_files\"/>
    <add key="source_path" value="D:\sample_folder\"/>
    <add key="temp_destination_path" value="D:\resultfolder\"/>

    <add key="bugmailSubject" value="Bug in SI bmobiles(Test)" />
    <add key="topup_menuid" value="10"/>
    <add key="mobiletopup_menuid" value="23"/>
      
    <!-- <add key="dokudomain" value="http://testpayment.bmobile.com.pg/Admin/SI_Access_AuthTrack?gui_id=" />-->
    <add key="dokudomain" value="http://localhost:51319/Admin/SI_Access_AuthTrack?gui_id=" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" uiCulture="en-GB" culture="en-GB" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <customErrors mode="Off" defaultRedirect="~/Error/TechIssue">
      <error statusCode="400" redirect="~/Error/BadRequest" />
      <error statusCode="403" redirect="~/Error/Forbidden" />
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IesipayService" />
        <binding name="BasicHttpBinding_IGetPower" />
        <binding name="BasicHttpBinding_IdokuService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IBundlePlanSI" />
        <binding name="BasicHttpBinding_IBundlePlanSI1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://shopbm.twinkletech.com/Service/esipayService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IesipayService"
        contract="esipayRef.IesipayService" name="BasicHttpBinding_IesipayService" />
      <endpoint address="http://localhost:61512/Service3/GetPower.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetPower"
        contract="GetPowerRef.IGetPower" name="BasicHttpBinding_IGetPower" />
      <endpoint address="http://localhost:51319/Service/dokuService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IdokuService"
        contract="dokuRef.IdokuService" name="BasicHttpBinding_IdokuService" />
      <endpoint address="http://localhost:57803/service/BundlePlanSI.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBundlePlanSI1"
        contract="siCCBundleRef.IBundlePlanSI" name="BasicHttpBinding_IBundlePlanSI" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>