<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="beLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <beLib.Properties.Settings>
            <setting name="beLib_beRef_SelfCare" serializeAs="String">
                <value>http://cc.bmobile.com.sb:8800/devTest/services/SelfCare?wsdl</value>
            </setting>
        </beLib.Properties.Settings>
    </applicationSettings>
</configuration>