@{
    ViewBag.Title = "BadRequest";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}

<h2>Bad Request</h2>

  <div class="abt-main">
    <p class="seMessage">
        Bad Request, please contact your administrator...
    </p>

    <p>
        Please click&nbsp;@Html.ActionLink("here", "login", "Care")&nbsp;to login your account
    </p>
</div>