<div style="float:right;font-weight:bold;margin-top: -35px;">
     <span class="label" style="background-color:#82FA58;">&nbsp;&nbsp;&nbsp;</span>SUCCESS <span class="label" style="background-color:#FE642E;">&nbsp;&nbsp;&nbsp;</span>FAILED<span class="label" style="background-color:#F5F5F5;">&nbsp;&nbsp;&nbsp;</span>PENDING <span class="label" style="background-color:#F7FE2E;">&nbsp;&nbsp;&nbsp;</span>REFUND
</div>